In [1]:
number = int(input("Please Enter any Number: "))
total = 0

for value in range(1, number + 1):
    total = total + value

print("The Sum of Natural Numbers from 1 to {0} =  {1}".format(number, total))

Please Enter any Number: 16
The Sum of Natural Numbers from 1 to 16 =  136

In [2]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) 
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 5
Number of odd numbers : 5

In [3]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5

In [5]:
numbers = []
squares = []
start = 1 
end = 10 
for count in range (start, end+1) :
    numbers.append (count)
    squares.append (count**2)
print("numbers: ",numbers)
print("squares: ",squares)

numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
n = 10
sum = 0
for num in range(0, n+1, 1):
    sum = sum+num
print("SUM of first ", n, "numbers is: ", sum )

SUM of first  10 numbers is:  55

In [9]:
number = int(input("Enter the number to reverse: "))
reverse = 0
while number > 0:
    dig = number % 10
    reverse = reverse * 10 + dig
    number //= 10
print("The Reverse of the number:", reverse)

Enter the number to reverse: 29
The Reverse of the number: 92

In [10]:
lower=int(input("Enter the lower limit for the range:"))
upper=int(input("Enter the upper limit for the range:"))
for i in range(lower,upper+1):
    if(i%2!=0):
        print(i)

Enter the lower limit for the range:5
Enter the upper limit for the range:45
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45

In [12]:
num = int(input("Enter a number \n"))
count = 0
while num>0:
    count +=1
    num = num//10;
    
print("Number of Digits: %d"%count)

Enter a number
8652
Number of Digits: 4

In [13]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:125521
The number is palindrome!

In [16]:
n=int(input("Enter a number: "))
for i in range(0,n):
    for j in range(0,n):
        if(i==j):
            print("1",sep=" ",end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

Enter a number: 3
1 0 0
0 1 0
0 0 1

In [17]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True